@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,800;1,800&family=Lato:wght@300;400;700&display=swap");

:root {
  --defaultFont: "Lato", sans-serif;
  --headerFont: "Lato", sans-serif;
  --primaryColor: #e21e8f;
  --primaryColorHover: #b41672;
  --emeraldGreen: #2ccab2;
  --yellowFlash: #fbfb46;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainSpacing: 0.25rem;
  --mainTransition: all 0.3s linear;
  --lightShadow: 0.1rem 0.3rem 0.3rem 0rem rgba(30, 30, 30, 0.1);
  --darkShadow: 0.4rem 0.6rem 0.5rem 0rem rgba(30, 30, 30, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 10px = 1rem!
}

body {
  background: var(--mainWhite);
  color: var(--mainBlack);
  font-family: var(--defaultFont);
  font-size: 16px; // px fallback
  font-size: 1.6rem; // default font-size for document
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headerFont);
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}

p {
  margin-bottom: 1.25rem;
}

.default-hero {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/bannerImg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 23rem);
}

a {
  color: var(--mainBlack);
  text-decoration: none;
  &:hover {
    color: var(--primaryColor);
    text-decoration: none;
  }
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.is-only-readable {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.prmry-btn {
  background-color: var(--primaryColor);
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  display: block;
  margin: 2rem auto 0 auto;
  padding: 1rem 2rem;
  width: max-content;
  &:hover {
    background-color: var(--primaryColorHover);
    color: white;
  }
}

@media screen and (min-width: 800px) {
  .default-hero {
    min-height: calc(100vh - 20rem);
  }
}
